:root {
  /* font */
  --ff1: "Oswald", sans-serif;
  --ff2: "Quicksand", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  /* lines */
  --line-2: 0.2rem;
  --line-4: 1.25rem;
  --radius: 0.5rem;
  --radius2: 0.25rem;
  /* bg and surface */
  --col-bg: #1a1b26;
  --col-surface: #24283b;
  --col-surface2: #414868;
  /* primary colors */
  --col-p-200: #bb9af7;
  --col-p-500: #9b9ef7;
  --col-p-700: #7aa2f7;
  /* secondary colors */
  --col-s-200: #b4f9f8;
  --col-s-500: #73daca;
  --col-s-700: #2ac3de;
  /* icons, elements, text */
  --col-on-bg: #9aa5ce;
  --col-on-surface: #b3badb;
  --col-on-primary: #1a1b26;
  --col-on-secondary: #1a1b26;
}
 ::-webkit-scrollbar {
  width: 0px;
  display: none;
} 
body {
  font-family: var(--ff2);
  background-color: var(--col-bg);
  transition: all ease-out 200ms;
  max-width: 100vw;
  overflow: hidden;
}
.custom-nav {
  background-color: var(--col-p-700);
}
.col-on-primary,
.col-on-primary:hover {
  color: var(--col-on-primary);
}
.font1 {
  font-family: var(--ff1);
}
.col-surface {
  background-color: var(--col-surface);
  border-radius: var(--radius);
  box-shadow: 4px 4px 8px #00000027;
}
.col-surface2 {
  background-color: var(--col-surface2);
  border-radius: var(--radius);
  box-shadow: 3px 3px 6px #00000018;
}
.col-on-surface,
.col-on-surface:hover {
  color: var(--col-on-surface);
}
input,
textarea {
  background-color: var(--col-on-surface);
}
input[type="radio"] {
  accent-color: var(--col-s-700);
  width: 1rem;
  height: 1rem;
}
.custom-btn {
  background-color: var(--col-s-700);
  border-color: var(--col-s-700);
  border-width: 0px;
  border-radius: var(--radius2);
}
.custom-btn2 {
  background-color: var(--col-surface2);
  border-width: 0px;
  border-radius: var(--radius2);
}
.custom-btn3 {
  background-color: var(--col-s-700);
  border-width: 0px;
  border-radius: var(--radius2);
  font-weight: var(--fw-bold);
}
.custom-btn4 {
  background-color: var(--col-s-500);
  border-width: 0px;
  border-radius: var(--radius2);
}
.custom-checkbox,
.custom-checkbox:hover {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;
  color: var(--col-on-surface);
}
.custom-footer {
  padding-top: 15rem;
  position: sticky;
}
a {
  color: var(--col-surface2);
}
.customMedia {
  display: flex;
  text-align: inherit;
  justify-content: space-between;
  align-items: center;
}
.custom-textBox {
  inline-size: 30ch;
  max-lines: 3;
}
.custom-img {
  height: 64px;
  width: 64px;
  overflow: hidden;
}
.custom-img img {
  height: 64px;
  width: 64px;
  overflow: hidden;
  object-fit: cover;
  border-radius: var(--radius2);
  box-shadow: inset 4px 4px 6px #0000003b;
}
.custom-radioOb {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}
.box {
  background-color: var(--col-surface);
  border-radius: var(--radius);
}
.foodElement {
  background-color: var(--col-surface2);
  color: var(--col-on-surface);
  border-radius: var(--radius2);
  margin: 0.5rem;
  padding: 1rem;
}
.foodName {
  font-weight: 700;
  font-size: 1.25rem;
}
.foodAddress,
.foodDistance {
  margin: 0.25rem 0;
}
.foodLink {
  padding: 0.25rem;
  color: var(--col-on-primary);
  background-color: var(--col-p-700);
  border-radius: var(--radius2);
}
.foodType {
  margin: 0.25rem 0;
  color: var(--col-on-surface);
}
@media screen and (max-width: 400px) {
  .custom-img img,
  .custom-img {
    height: 48px;
    width: 48px;
  }
}
@media screen and (max-width: 768px) {
  .custom-textBox {
    inline-size: 18ch;
    max-lines: 3;
  }
  .customMedia {
    display: flex;
    text-align: inherit;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  .custom-textBox {
    inline-size: 18ch;
  }
}